{% load tag_library%}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Acafi | Dashboard</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  {% include 'libheader.html' %}

  {% include "header.html" %}

  {% include "sidebar.html" %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Cuotas
        <small>Lista de Cuotas</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"><a href="/perfil/">Dashboard</a></li>

      </ol>
    </section>

    <form action="?{{url}}" method="GET" id="filter_rep">

    <section class="content">
      <div class="row">
        <section class="col-lg-12">
        <div class="box box-info">
            <div class="box-header">
                <h3 class="panel-title"><i class="fa fa-list"></i> Lista de Cuotas </h3>
                <br>
                {% if fondos %}
                <select style="width: 100%" id="input-rut" name="filter_rut">
                  <option value="">Seleccione ...</option>
                {% for f in fondos %}
                {% if f.runsvs == filter_rut %}
                <option selected value="{{f.runsvs}}">{{f.runsvs}} - {{f.nombre}}</option>
                {% else %}
                <option value="{{f.runsvs}}">{{f.runsvs}} - {{f.nombre}}</option>
                {% endif %}
                {% endfor %}
              </select>
                {% endif %}

            </div>

            <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-max-with">
                            <thead>
                            <tr>
                              <td class="text-left">Fondo</td>
                              <td class="text-left">Fecha</a> 
                              <td class="text-left">Serie</td>
                              <td class="text-left">Rentabilidad [valor_libro+dividendo)) /valor_libro_anterior ]</td>
                              <td class="text-left">Indice</td>
                              
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                
                                  <input type="hidden" value = "{{ page }}", name="page">
                                
                                <td class="text-left"></td>

                                <td class="text-left"><input type="date" name="filter_fecha" value="{{ filter_fecha|default:'' }}" id="input-fecha" class="input-date" style='width:100%'/></td>
                                
                                <td class="text-left"><input type="text" name="filter_name" value="{{ filter_name|default:'' }}" placeholder="Nombre" id="input-name" class="input-text" style='width:100%'/></td>

                                
                                <td class="text-left"></td>
                                

                                <td class="text-left">
                                <button type="submit" id="button-filter" class="btn btn-primary" data-toggle="tooltip" title="Buscar" ><i class="fa fa-search"></i></button>
                                </td>
                              </form>
                            </tr>
                            {% if lista %}
                            {% for lista in lista %}
                          <tr>
                          <td class="text-left">{{ lista.serie.fondo.runsvs }}</td>
                          <td class="text-left">{{ lista.fecha }}</td>
                          <td class="text-left">{{ lista.serie }} </td>
                          <td class="text-left">{{ lista.valor_libro }}</td>
                          
                          <td class="text-left">{{ lista.indice }}</td>

                         
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td class="text-center" colspan="8">  No hay resultados </td>
                            </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
        <div class="row">
          <div>

   
    <div class="col-sm-6 text-left">
            {% if lista.has_other_pages %}
              <ul class="pagination">
                {% if lista.has_previous %}
                  <li><a href="?page=1&{{url}}">&laquo;</a></li>
                  <!--li><a href="?page={{ lista.previous_page_number }}">&laquo;</a></li-->
                {% else %}
                  <li class="disabled"><span>&laquo;</span></li>
                {% endif %}

                {% for i in lista.paginator.num_pages|rango:lista.number %}
                  {% if lista.number == i %}
                    <li class="active"><span>{{ i | cut:"."}} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                  
                    <li><a href="?page={{ i | cut:'.'}}&{{url}}">{{ i | cut:"."}}</a></li>
                  
                  {% endif %}
                {% endfor %}
                {% if lista.has_next %}

                  <!--li><a href="?page={{ lista.next_page_number}}">&raquo;</a></li-->
                  <li><a href="?page={{ lista.paginator.num_pages | cut:'.'}}&{{url}}"> &raquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
              </ul>
            {% endif %}
            </div>
          <div class="col-sm-6 text-right">Total: {{ count }} Dividendos</div>
        </div>
                </div>
            </div>
        </div>
    </div>

</div>

    </div>
  </div>

         </section>

      </div>
    </section>
  </div>

  <!-- /.content-wrapper -->


{% include "asidebar.html" %}

{% include 'footer.html' %}
</body>
</html>