{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Acafi | Dashboard</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  {% include 'libheader.html' %}

  {% include "header.html" %}

  {% include "sidebar.html" %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Importar
        <small>Importar Fondos Corfo</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <section class="content">
      <div class="row">
        <section class="col-lg-12">

          <div class="box box-info">
            <div class="box-header">
              <i class="fa fa-upload"></i>
              <h3 class="box-title">Importar fondos:</h3>
            </div>
            <div class="box-body">
             
              <form action="/perfil/fondo_corfo/importar/" method="post" enctype='multipart/form-data'>
                {% csrf_token %}
                <div class="form-group">
                   {{ form }}
                </div>
                <p>Resultado de importación:<br>
                  {{respuesta|safe}}
                
              </p>
              <div class="box-footer clearfix">
                <button type="submit" id="submit_btn" class="pull-right btn btn-default">Importar Datos
                  <i class="fa fa-arrow-circle-right"></i></button>
              </div>
            
              </form>
            </div>

          </div>

        </section>

      </div>
    </section>
  </div>

  <!-- /.content-wrapper -->


{% include "asidebar.html" %}

{% include 'footer.html' %}
</body>
</html>