
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Acafi | Dashboard</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  {% include 'libheader.html' %}

  {% include "header.html" %}

  {% include "sidebar.html" %}




  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        FONDOS
        <small>DATOS FONDO</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"><a href="/perfil">Dashboard</a></li>
      </ol>
    </section>

    <section class="content">
      <div class="row">
        <section class="col-lg-12">

          <div class="box box-info">
            <div class="box-body"> 
              
              <form action="/perfil/fondo_corfo/{{runsvs}}" method="post">
                {% csrf_token %}
                <!--div class="form-group">
                   <label>VALIDAR</label> {{ form.validado }}
                </div-->
                <div class="box-header">
                <i class="fa fa-signal"></i>
                <h3 class="box-title">DATOS EDITABLES</h3>
                </div>
                <label>CODIGO RUT</label>
                <div class="form-group">
                   {{ form.rut }}
                </div>
                
                <label>NOMBRE FONDO</label>
                <div class="form-group">
                   {{ form.nombre }}
                </div>
                
                <label>ADMINISTRADOR FONDO</label>
                <div class="form-group">
                   {{ form.admin }}
                </div>

                <hr>
                <label>CÓDIGO BOLSA</label>
                <div class="form-group">
                   {{ form.codigo_bolsa }}
                </div>

                <label>BLOOMBERG</label>
                <div class="form-group">
                   {{ form.bloomberg }}
                </div>
                <label>ISIN</label>
                <div class="form-group">
                   {{ form.isin }}
                </div>

                <label>MONEDA DENOMINACION</label>
                <div class="form-group">
                   {{ form.moneda }}
                </div>
                <label>FECHA APERTURA LINEA</label>
                <div class="form-group">
                   {{ form.apertura_linea }}
                </div>
                <label>FECHA VENCIMIENTO</label>
                <div class="form-group">
                   {{ form.fecha_vencimiento }}
                </div>
                <label>TIPO DE FONDO</label>
                <div class="form-group">
                   {{ form.tipo_fondo }}
                </div>
                <label>TIPO LÍNEA</label>
                <div class="form-group">
                   {{ form.tipo_linea }}
                </div>
                <label>AREA DE INTERÉS</label>
                <div class="form-group">
                   {{ form.area_interes }}
                </div>

                <label>PORTFOLIO MANAGER</label>
                <div class="form-group">
                   {{ form.portfolio_manager }}
                </div>
                <hr>

                <label>PATRIMONIO ADMINISTRADO (En millones de Dólares)</label>
                <div class="form-group">
                   {{ form.patrimonio }}
                </div>
                <hr>
                <label>COMISIÓN DE ADMINISTRACIÓN (Máximo 500 caracteres)</label>
                <div class="form-group">
                   {{ form.comision }} <!-- area -->
                </div>
                <hr>

                <label>COMENTARIO PORTFOLIO MANAGER (Máximo 500 caracteres)</label>
                <div class="form-group">
                   {{ form.comentario }}<!-- area -->
                </div>
                <hr>
                <label>ESTRATEGIA DE INVERSIÓN (Máximo 500 caracteres)</label>
                <div class="form-group">
                   {{ form.estrategia }}<!-- area -->
                </div>
                <hr>

                <!--label>BENCHMARK</label>
                <div class="form-group">
                   {{ form.benchmark }}
                </div-->

                <h3><label>CIFRAS DEL FONDO</label></h3>
                <div class="form-group">
                   <label>MONTO INVERTIDO (UF)</label>
                   <table>
                   <tr><td>{{ form.cifra_monto_uf }}</td></tr>
                   </table>
                   <label>LÍNEA DE CRÉDITO APROBADA (UF)</label>
                   <table>
                   <tr><td>{{ form.cifra_lca_uf }}</td></tr>
                   </table>
                   <label>DESEMBOLSOS CORFO (UF)</label>
                   <table>
                   <tr><td>{{ form.cifra_dc_uf }}</td></tr>
                   </table>
                  <label>DESEMBOLSO PRIVADO (UF)</label>
                   <table>
                   <tr><td>{{ form.cifra_dp_uf }}</td></tr>
                   </table>
                  <label style="padding-top: 20px;">NUMERO DE EMPRESAS</label>
                   <div class="form-group">
                   {{ form.cifra_ne }}
                   </div>
                  <label>ESTADO DE LINEA</label>
                   <div class="form-group">
                   {{ form.cifra_estado }}
                   </div>
                   <hr>

                   <hr>

                   <div class="form-group">
                   <label>INVERSIONES</label>
                   <table>
                   <tr><td>Empresa</td><td>Monto (En millones de Dólares)</td></tr>
                   <tr><td>{{ form3.inversion_empresa_1 }}</td><td>{{ form3.inversion_monto_1 }}</td></tr>
                   <tr><td>{{ form3.inversion_empresa_2 }}</td><td>{{ form3.inversion_monto_2 }}</td></tr>
                   <tr><td>{{ form3.inversion_empresa_3 }}</td><td>{{ form3.inversion_monto_3 }}</td></tr>
                   <tr><td>{{ form3.inversion_empresa_4 }}</td><td>{{ form3.inversion_monto_4 }}</td></tr>
                   <tr><td>{{ form3.inversion_empresa_5 }}</td><td>{{ form3.inversion_monto_5 }}</td></tr>
                   <tr><td>{{ form3.inversion_empresa_6 }}</td><td>{{ form3.inversion_monto_6 }}</td></tr>
                   <tr><td>{{ form3.inversion_empresa_7 }}</td><td>{{ form3.inversion_monto_7 }}</td></tr>
                   <tr><td>{{ form3.inversion_empresa_8 }}</td><td>{{ form3.inversion_monto_8 }}</td></tr>
                   <tr><td>{{ form3.inversion_empresa_9 }}</td><td>{{ form3.inversion_monto_9 }}</td></tr>
                   <tr><td>{{ form3.inversion_empresa_10 }}</td><td>{{ form3.inversion_monto_10 }}</td></tr>
                   <tr><td>{{ form3.inversion_empresa_11 }}</td><td>{{ form3.inversion_monto_11 }}</td></tr>
                   <tr><td>{{ form3.inversion_empresa_12 }}</td><td>{{ form3.inversion_monto_12 }}</td></tr>
                   
                   </table>
                   
                   
                </div>

              <div class="box-footer clearfix">
                
                <button type="button" id="submit_btn2" class="pull-right btn btn-danger" data-toggle="modal" data-target="#myModal" style="margin-left:20px">Reportar error en algún campo
                </button>
                  

                <button type="submit" id="submit_btn" class="pull-right btn btn-primary">Guardar y Validar Información  
                  <i class="fa fa-save"></i></button>

              </div>
            
              </form>
            </div>

          </div>

        </section>

      </div>
    </section>
  </div>

  <!-- /.content-wrapper -->

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Marque los campos con error</h4>
      </div>
      <form action="/perfil/addbug/" method="post">
        {% csrf_token %}
      <div class="modal-body">
        {{form2.adm}} Administradora: {{nombrefondo}}<br/>
        {{form2.cat}} Categoría: {{fondo.categoria|default:"(no especificada)"}}<br/>
        {{form2.fir}} Rut CMF: {{runsvs}}<br/>
        {{form2.moneda}} Moneda de denominación: {{fondo_ext.divisa.nombre|default:"(no especificada)"}}<br/>
        {{form2.fi}} Fecha Inicio Operaciones: {{fondo.inicio_operaciones}}<br/>
         {{form2.fondo.as_hidden}}
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success">Enviar</button>
      </div>
    </form>
    </div>

  </div>
</div>

{% include "asidebar.html" %}

{% include 'footer.html' %}
<script>
  $('#id_apertura_linea').datepicker(
                  {
                      format: 'yyyy-mm-dd',
                      autoclose: true,
                      forceParse: false,
                      Default: true,
                      pickDate: true,
                      todayHighlight: true,

                  });
  $('#id_apertura_linea input').click(function(event){
   $('#id_apertura_linea').data("DateTimePicker").show();
});
  $('#id_fecha_vencimiento').datepicker(
                  {
                      format: 'yyyy-mm-dd',
                      autoclose: true,
                      forceParse: false,
                      Default: true,
                      pickDate: true,
                      todayHighlight: true,

                  });
  $('#id_fecha_vencimiento input').click(function(event){
   $('#id_fecha_vencimiento').data("DateTimePicker").show();
});
</script>
</body>
</html>