{% load tag_library %}

<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Acafi | Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    {% include 'libheader.html' %}
    {% include "header.html" %}
    {% include "sidebar.html" %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
        <h1>
            Catastro
            <small>Lista</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
        </section>

        <section class="content">
        <div class="row">
            <section class="col-lg-12">

            <div class="box box-info">
                <div class="box-header">
                <i class="fa fa-search"></i>
                <h3 class="box-title">Buscar Período:</h3>
                </div>
                <div class="box-body">
                    
                    <div class="form-group">
                    <p>Periodo</p>
                    <select id="periodo_mes" name="periodo_mes" value="{{periodo_mes}}">
                        <option> </option>
                        {% if periodo_mes == '03'%}
                        <option value="03" selected >03</option>
                        {% else %}
                        <option value="03">03</option>
                        {% endif %}
                        {% if periodo_mes == '06'%}
                        <option value="06" selected >06</option>
                        {% else %}
                        <option value="06">06</option>
                        {% endif %}
                        {% if periodo_mes == '09'%}
                        <option value="09" selected >09</option>
                        {% else %}
                        <option value="09">09</option>
                        {% endif %}
                        {% if periodo_mes == '12'%}
                        <option value="12" selected >12</option>
                        {% else %}
                        <option value="12">12</option>
                        {% endif %}
                    </select>

                    <input value="{{periodo_anio|default:''}}" placeholder="Año" id="periodo_anio" name="periodo_anio">

                    <select id="libro" name="libro" value="{{libro}}">
                        <option> </option>
                        {% if libro == "lista_fondos"%}
                        <option value="lista_fondos" selected >Lista de Fondos</option>
                        {% else %}
                        <option value="lista_fondos">Lista de Fondos</option>
                        {% endif %}
                        {% if libro == 'activos'%}
                        <option value="activos" selected >Activos</option>
                        {% else %}
                        <option value="activos">Activos</option>
                        {% endif %}
                        {% if libro == 'eeff'%}
                        <option value="eeff" selected >Estado Financiero</option>
                        {% else %}
                        <option value="eeff">Estado Financiero</option>
                        {% endif %}
                        {% if libro == 'patrimonio'%}
                        <option value="patrimonio" selected >Patrimonio</option>
                        {% else %}
                        <option value="patrimonio">Patrimonio</option>
                        {% endif %}
                        {% if libro == 'volumen_cuotas'%}
                        <option value="volumen_cuotas" selected >Volumen Cuotas</option>
                        {% else %}
                        <option value="volumen_cuotas">Volumen Cuotas</option>
                        {% endif %}
                        {% if libro == 'precatastro'%}
                        <option value="precatastro" selected >Precatastro</option>
                        {% else %}
                        <option value="precatastro">Precatastro</option>
                        {% endif %}
                    </select>
                    </div>

                <div class="box-footer clearfix">
                    <button type="button" onclick= "mostrar_datos();" id="submit_btn" class="pull-right btn btn-primary">
                    <i class="fa fa-search"></i></button>
                </div>

                {% if periodo_mes and periodo_anio %}

                <div class="box box-info">
                    <div class="box-header">
                    <i class="fa fa-search"></i>
                    <h3 class="box-title">Período {{periodo_mes|default:''}} - {{periodo_anio|default:''}}  {{libro}}</h3>
                    </div>

                    <div class="table-responsive">
                    <table class="table table-bordered table-hover table-max-with">
                        {% if libro == 'lista_fondos' %}
                        <tr><td>Hoja</td><td>Accion</td><td>Filas</td></tr>
                        <tr><td>1.a - Lista de fondos vigentes</td>
                        <td>
                            {% with listaf=hoja_catastro.lista_fondos|nro_columnas %} 
                            {% if hoja_catastro.lista_fondos %}
                                <a href="/perfil/fondo/catastro/descargar/lista_vigentes/{{periodo_mes}}-{{periodo_anio}}/" type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Descargar" ><i class="fa fa-download"></i></a>
                            {% elif usuario.is_staff == True %}
                                <form method="POST" action="/perfil/fondo/catastro/generar/lista_vigentes/{{periodo_mes}}-{{periodo_anio}}/">
                                    {% csrf_token %}
                                    <button type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Generar" ><i class="fa fa-cogs"></i></button>
                                </form>
                            {% endif %}
                            {% endwith %}
                        </td>
                        <td> {{ hoja_catastro.lista_fondos|nro_columnas}} / {{ lista_vigentes }}</td></tr>
                        
                        <tr><td>1.b - Lista de fondos nuevos</td>
                        <td>
                            {% with listaf=hoja_catastro.lista_fondos_nuevos|nro_columnas %} 
                            {% if hoja_catastro.lista_fondos_nuevos %}
                                <a href="/perfil/fondo/catastro/descargar/lista_nuevos/{{periodo_mes}}-{{periodo_anio}}/" type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Descargar" ><i class="fa fa-download"></i></a>
                            {% elif usuario.is_staff == True  %}
                                <form method="POST" action="/perfil/fondo/catastro/generar/lista_nuevos/{{periodo_mes}}-{{periodo_anio}}/">
                                    {% csrf_token %}
                                    <button type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Generar" ><i class="fa fa-cogs"></i></button>
                                </form>
                            {% endif %}
                            {% endwith %}
                        </td>
                        <td>{{hoja_catastro.lista_fondos_nuevos|nro_columnas}} / {{ fondos_nuevos }} </td></tr>
                        {% endif %}

                        {% if libro == 'precatastro' %}
                        <tr><td>Hoja</td><td>Accion</td></tr>
                        <tr><td>Precatastro Completo</td>
                            <td>
                                <a href="/static/tmp/precatastro/{{periodo_mes}}-{{periodo_anio}}/{{periodo_mes}}-{{periodo_anio}}.xlsx" type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Descargar" ><i class="fa fa-download"></i></a>
                            </td>
                        </tr>
                        <tr><td>i.- Estados Financieros</td>
                            <td>
                                <a href="/perfil/fondo/catastro/descargar/pre_eeff/{{periodo_mes}}-{{periodo_anio}}/" type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Descargar" ><i class="fa fa-download"></i></a>
                            </td>
                        </tr>
                        <tr><td>ii.- Parámetros Iniciales</td>
                            <td>
                                <a href="/perfil/fondo/catastro/descargar/parametros_iniciales/{{periodo_mes}}-{{periodo_anio}}/" type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Descargar" ><i class="fa fa-download"></i></a>
                            </td>
                        </tr>
                        <tr><td>iii.- Nuevos Fondos Trimestre</td>
                            <td>
                                <a href="/perfil/fondo/catastro/descargar/nuevos_fondos_pre/{{periodo_mes}}-{{periodo_anio}}/" type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Descargar" ><i class="fa fa-download"></i></a>
                            </td>
                        </tr>
                        <tr><td>iv.- Cartera de Inversiones</td>
                            <td>
                                <a href="/perfil/fondo/catastro/descargar/cartera_inversiones/{{periodo_mes}}-{{periodo_anio}}/" type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Descargar" ><i class="fa fa-download"></i></a>
                            </td>
                        </tr>
                        <tr><td>iv.1- Cartera de Inversiones (CLP)</td>
                            <td>
                                <a href="/static/tmp/precatastro/{{periodo_mes}}-{{periodo_anio}}/cartera_inversiones_{{periodo_mes}}-{{periodo_anio}} (CLP).xlsx" type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Descargar" ><i class="fa fa-download"></i></a>
                            </td>
                        </tr>
                        <tr><td>v.- Acciones Nacionales</td>
                            <td>
                                <a href="/perfil/fondo/catastro/descargar/acciones_nacionales/{{periodo_mes}}-{{periodo_anio}}/" type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Descargar" ><i class="fa fa-download"></i></a>
                            </td>
                        </tr>
                        <tr><td>vi.- Aportantes</td>
                            <td>
                                <a href="/perfil/fondo/catastro/descargar/cuotas_aportantes/{{periodo_mes}}-{{periodo_anio}}/" type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Descargar" ><i class="fa fa-download"></i></a>
                            </td>
                        </tr>
                        <tr><td>vii.- Clasificaciones de Riesgo</td>
                            <td>
                                <a href="/perfil/fondo/catastro/descargar/clasif_riesgo/{{periodo_mes}}-{{periodo_anio}}/" type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Descargar" ><i class="fa fa-download"></i></a>
                            </td>
                        </tr>
                        <tr><td>viii.- Inversión País</td>
                            <td>
                                <a href="/perfil/fondo/catastro/descargar/inv_pais/{{periodo_mes}}-{{periodo_anio}}/" type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Descargar" ><i class="fa fa-download"></i></a>
                            </td>
                        </tr>
                        <tr><td>ix.- Inversión moneda</td>
                            <td>
                                <a href="/perfil/fondo/catastro/descargar/inv_moneda/{{periodo_mes}}-{{periodo_anio}}/" type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Descargar" ><i class="fa fa-download"></i></a>
                            </td>
                        </tr>
                        {% endif %}

                        <!--tr><td colspan="3" style="background-color: gray"></td></tr-->
                        {% if libro == 'activos' %}
                        <tr><td>Hoja</td><td>Accion</td><td>Filas</td></tr>
                        <tr><td>Informe Activos Completo</td>
                            <td>
                                {% with listaf=hoja_catastro.fondos_nuevos|nro_columnas %} 
                                {% if hoja_catastro.fondos_nuevos and hoja_catastro.total_activos and hoja_catastro.activos_fondo and hoja_catastro.activo_por_afi and hoja_catastro.activos_por_clase and hoja_catastro.activos_fondos_afi %}
                                    <a href="/perfil/fondo/catastro/descargar/activos_completo/{{periodo_mes}}-{{periodo_anio}}/" type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Descargar" ><i class="fa fa-download"></i></a>
                                {% elif usuario.is_staff == True  %}
                                    <form method="POST" action="/perfil/fondo/catastro/generar/activos_completo/{{periodo_mes}}-{{periodo_anio}}/">
                                        {% csrf_token %}
                                        <button type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Generar" ><i class="fa fa-cogs"></i></button>
                                    </form>
                                {% endif %}
                                {% endwith %}
                            </td>
                            <td>{{hoja_catastro.fondos_nuevos|nro_columnas}} / {{ fondos_nuevos }} </td>
                            </tr>
                        
                        <tr><td>2.a- Activos de Fondos Nuevos</td>
                        <td>
                            {% with listaf=hoja_catastro.fondos_nuevos|nro_columnas %} 
                            {% if hoja_catastro.fondos_nuevos %}
                                <a href="/perfil/fondo/catastro/descargar/fondos_nuevos/{{periodo_mes}}-{{periodo_anio}}/" type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Descargar" ><i class="fa fa-download"></i></a>
                            {% elif usuario.is_staff == True  %}
                                <form method="POST" action="/perfil/fondo/catastro/generar/fondos_nuevos/{{periodo_mes}}-{{periodo_anio}}/">
                                    {% csrf_token %}
                                    <button type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Generar" ><i class="fa fa-cogs"></i></button>
                                </form>
                            {% endif %}
                            {% endwith %}
                        </td>
                        <td>{{hoja_catastro.fondos_nuevos|nro_columnas}} / {{ fondos_nuevos }} </td>
                        </tr>

                        <tr><td>2.b- Total Activos</td>
                        <td>
                            {% if hoja_catastro.total_activos %}
                                <a href="/perfil/fondo/catastro/descargar/total_activos/{{periodo_mes}}-{{periodo_anio}}/" type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Descargar" ><i class="fa fa-download"></i></a>
                            {% elif usuario.is_staff == True  %}
                                <form method="POST" action="/perfil/fondo/catastro/generar/total_activos/{{periodo_mes}}-{{periodo_anio}}/">
                                    {% csrf_token %}
                                    <button type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Generar" ><i class="fa fa-cogs"></i></button>
                                </form>
                            {% endif %}
                        </td>
                        <td>{{hoja_catastro.total_activos|nro_columnas}}</td>
                        </tr>

                        <tr><td>2.c- Activos por Tipo FI</td>
                            <td>
                                {% if hoja_catastro.total_activos %}
                                    <a href="/perfil/fondo/catastro/descargar/activos_por_tipo/{{periodo_mes}}-{{periodo_anio}}/" type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Descargar" ><i class="fa fa-download"></i></a>
                                {% elif usuario.is_staff == True  %}
                                    <form method="POST" action="/perfil/fondo/catastro/generar/total_activos/{{periodo_mes}}-{{periodo_anio}}/">
                                        {% csrf_token %}
                                        <button type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Generar" ><i class="fa fa-cogs"></i></button>
                                    </form>
                                {% endif %}
                            </td>
                            <td>{{hoja_catastro.total_activos|nro_columnas}}</td>
                            </tr>

                        <tr><td>2.d- Activos por Fondo</td>
                        <td>
                            {% if hoja_catastro.activos_fondo %}
                                <a href="/perfil/fondo/catastro/descargar/activos_fondo/{{periodo_mes}}-{{periodo_anio}}/" type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Descargar" ><i class="fa fa-download"></i></a>
                            {% elif usuario.is_staff == True  %}
                                <form method="POST" action="/perfil/fondo/catastro/generar/activos_fondo/{{periodo_mes}}-{{periodo_anio}}/">
                                    {% csrf_token %}
                                    <button type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Generar activos fondo" ><i class="fa fa-cogs"></i></button>
                                </form>
                            {% endif %}
                        </td>
                        <td> {{ hoja_catastro.activos_fondo|nro_columnas}} / {{ lista_total }}</td>
                        </tr>

                        <tr><td>2.e- Activos por AFI</td>
                        <td>
                            {% with listaf=hoja_catastro.activo_por_afi|nro_columnas %}
                            {% if hoja_catastro.activo_por_afi %}
                                <a href="/perfil/fondo/catastro/descargar/activo_por_afi/{{periodo_mes}}-{{periodo_anio}}/" type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Descargar" ><i class="fa fa-download"></i></a>
                            {% elif usuario.is_staff == True  %}
                                <form method="POST" action="/perfil/fondo/catastro/generar/activo_por_afi/{{periodo_mes}}-{{periodo_anio}}/">
                                    {% csrf_token %}
                                    <button type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Generar activos fondo" ><i class="fa fa-cogs"></i></button>
                                </form>
                            {% endif %}
                            {% endwith %}
                        </td>
                        <td> {{ hoja_catastro.activo_por_afi|nro_columnas}} / {{ lista_admin }}</td>
                        </tr>

                        <tr><td>2.f- Activos por Clase</td>
                        <td>
                            {% with listaf=hoja_catastro.activos_por_clase|nro_columnas %}
                            {% if hoja_catastro.activos_por_clase %}
                                <a href="/perfil/fondo/catastro/descargar/activos_por_clase/{{periodo_mes}}-{{periodo_anio}}/" type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Descargar" ><i class="fa fa-download"></i></a>
                            {% elif usuario.is_staff == True  %}
                                <form method="POST" action="/perfil/fondo/catastro/generar/activos_por_clase/{{periodo_mes}}-{{periodo_anio}}/">
                                    {% csrf_token %}
                                    <button type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Generar activos fondo" ><i class="fa fa-cogs"></i></button>
                                </form>
                            {% endif %}
                            {% endwith %}
                        </td>
                        <td> {{ hoja_catastro.activos_por_clase|nro_columnas}} / {{ lista_admin }}</td>
                        </tr>

                        <tr><td>2.g- Activo por Fondo y AFI</td>
                        <td>
                            {% with listaf=hoja_catastro.activos_fondos_afi|nro_columnas %}
                            {% if hoja_catastro.activos_fondos_afi %}
                                <a href="/perfil/fondo/catastro/descargar/activos_fondos_afi/{{periodo_mes}}-{{periodo_anio}}/" type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Descargar" ><i class="fa fa-download"></i></a>
                            {% elif usuario.is_staff == True  %}
                                <form method="POST" action="/perfil/fondo/catastro/generar/activos_fondos_afi/{{periodo_mes}}-{{periodo_anio}}/">
                                    {% csrf_token %}
                                    <button type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Generar activos fondo" ><i class="fa fa-cogs"></i></button>
                                </form>
                            {% endif %}
                            {% endwith %}
                        </td>
                        <td> {{ hoja_catastro.activos_fondos_afi|nro_columnas}} / {{ lista_admin }}</td>
                        </tr>

                        <tr><td>2.h- Cantidas de Fondos por tipo</td>
                            <td>
                                {% with listaf=hoja_catastro.total_activos|nro_columnas %}
                                {% if hoja_catastro.total_activos %}
                                    <a href="/perfil/fondo/catastro/descargar/nro_fondos/{{periodo_mes}}-{{periodo_anio}}/" type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Descargar" ><i class="fa fa-download"></i></a>
                                {% elif usuario.is_staff == True  %}
                                    <form method="POST" action="/perfil/fondo/catastro/generar/total_activos/{{periodo_mes}}-{{periodo_anio}}/">
                                        {% csrf_token %}
                                        <button type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Generar activos fondo" ><i class="fa fa-cogs"></i></button>
                                    </form>
                                {% endif %}
                                {% endwith %}
                            </td>
                            <td> {{ hoja_catastro.total_activos|nro_columnas}} / {{ lista_admin }}</td>
                            </tr>

                        <tr><td>2.i- Inversiones</td>
                        <td>
                            {% if hoja_catastro.inversiones %}
                                <a href="/perfil/fondo/catastro/descargar/inversiones/{{periodo_mes}}-{{periodo_anio}}/" type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Descargar" ><i class="fa fa-download"></i></a>
                            {% elif usuario.is_staff == True  %}
                                <form method="POST" action="/perfil/fondo/catastro/generar/inversiones/{{periodo_mes}}-{{periodo_anio}}/">
                                    {% csrf_token %}
                                    <button type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Generar activos fondo" ><i class="fa fa-cogs"></i></button>
                                </form> 
                            {% endif %}
                        </td>
                        <td> {{ hoja_catastro.inversiones|nro_columnas}} / {{ lista_admin }}</td>
                        </tr>

                        <tr><td>2.i- Inversiones Extranjeras</td>
                            <td>
                                {% if hoja_catastro.inversiones %}
                                    <a href="/perfil/fondo/catastro/descargar/inversiones_ext/{{periodo_mes}}-{{periodo_anio}}/" type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Descargar" ><i class="fa fa-download"></i></a>
                                {% elif usuario.is_staff == True  %}
                                    <form method="POST" action="/perfil/fondo/catastro/generar/inversiones_ext/{{periodo_mes}}-{{periodo_anio}}/">
                                        {% csrf_token %}
                                        <button type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Generar activos fondo" ><i class="fa fa-cogs"></i></button>
                                    </form> 
                                {% endif %}
                            </td>
                            <td> {{ hoja_catastro.inversiones|nro_columnas}} / {{ lista_admin }}</td>
                            </tr>
                        {% endif %}

                        {% if libro == 'eeff' %}
                        <tr><td>Hoja</td><td>Accion</td><td>Filas</td></tr>
                        <tr><td>Estado Financiero Completo</td>
                            <td>
                                {% with listaf=hoja_catastro.eeff|nro_columnas %} 
                                {% if hoja_catastro.eeff and hoja_catastro.resumen and hoja_catastro.tabla_catastro and hoja_catastro.aportes_netos %}
                                    <a href="/perfil/fondo/catastro/descargar/eeff_completo/{{periodo_mes}}-{{periodo_anio}}/" type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Descargar" ><i class="fa fa-download"></i></a>
                                {% elif usuario.is_staff == True  %}
                                    <form method="POST" action="/perfil/fondo/catastro/generar/eeff_completo/{{periodo_mes}}-{{periodo_anio}}/">
                                        {% csrf_token %}
                                        <button type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Generar" ><i class="fa fa-cogs"></i></button>
                                    </form>
                                {% endif %}
                            {% endwith %}
                            </td>
                            <td> {{ hoja_catastro.eeff|nro_columnas}} / {{ lista_vigentes }}</td>
                            </tr>

                        <tr><td>1.b- EEFF</td>
                        <td>
                            {% with listaf=hoja_catastro.eeff|nro_columnas %} 
                            {% if hoja_catastro.eeff  %}
                                <a href="/perfil/fondo/catastro/descargar/eeff/{{periodo_mes}}-{{periodo_anio}}/" type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Descargar" ><i class="fa fa-download"></i></a>
                            {% elif usuario.is_staff == True  %}
                                <form method="POST" action="/perfil/fondo/catastro/generar/eeff/{{periodo_mes}}-{{periodo_anio}}/">
                                    {% csrf_token %}
                                    <button type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Generar" ><i class="fa fa-cogs"></i></button>
                                </form>
                            {% endif %}
                        {% endwith %}
                        </td>
                        <td> {{ hoja_catastro.eeff|nro_columnas}} / {{ lista_vigentes }}</td>
                        </tr>

                        <tr><td>1.c- Resumen</td>
                        <td>
                            {% with listaf=hoja_catastro.resumen|nro_columnas %} 
                            {% if hoja_catastro.resumen %}
                                <a href="/perfil/fondo/catastro/descargar/resumen/{{periodo_mes}}-{{periodo_anio}}/" type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Descargar" ><i class="fa fa-download"></i></a>
                            {% elif usuario.is_staff == True  %}
                                <form method="POST" action="/perfil/fondo/catastro/generar/resumen/{{periodo_mes}}-{{periodo_anio}}/">
                                    {% csrf_token %}
                                    <button type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Generar resumen" ><i class="fa fa-cogs"></i></button>
                                </form>
                            {% endif %}
                            {% endwith %}
                        </td>
                        <td> {{ hoja_catastro.resumen|nro_columnas}} / {{ lista_vigentes }}</td>
                        </tr>

                        <tr><td>1.d- Tabla catastro</td>
                        <td>
                            {% with listaf=hoja_catastro.tabla_catastro|nro_columnas %}
                            {% if hoja_catastro.tabla_catastro %}
                                <a href="/perfil/fondo/catastro/descargar/tabla_catastro/{{periodo_mes}}-{{periodo_anio}}/" type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Descargar Catastro" ><i class="fa fa-download"></i></a>
                            {% elif usuario.is_staff == True  %}
                                <form method="POST" action="/perfil/fondo/catastro/generar/tabla_catastro/{{periodo_mes}}-{{periodo_anio}}/">
                                    {% csrf_token %}
                                    <button type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Generar tabla_catastro" ><i class="fa fa-cogs"></i></button>
                                </form>
                            {% endif %}
                            {% endwith %}
                        </td>
                        <td> {{ hoja_catastro.tabla_catastro|nro_columnas}} / {{ lista_total }}</td>
                        </tr>

                        <tr><td>1.f- Aportes Netos</td>
                        <td>
                            {% if hoja_catastro.aportes_netos %}
                                <a href="/perfil/fondo/catastro/descargar/aportes_netos/{{periodo_mes}}-{{periodo_anio}}/" type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Descargar" ><i class="fa fa-download"></i></a>
                            {% elif usuario.is_staff == True  %}
                                <form method="POST" action="/perfil/fondo/catastro/generar/aportes_netos/{{periodo_mes}}-{{periodo_anio}}/">
                                    {% csrf_token %}
                                    <button type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Generar aportes netos" ><i class="fa fa-cogs"></i></button>
                                </form>
                            {% endif %}
                        </td>
                        <td> {{hoja_catastro.aportes_netos|nro_columnas}} </td>
                        </tr>
                        {% endif %}

                        {% if libro == 'patrimonio' %}
                        <tr><td>Hoja</td><td>Accion</td><td>Filas</td></tr>
                        <tr><td>Informe Patrimonio Completo</td>
                        <td>
                            {% if hoja_catastro.patrimonio_fondo and hoja_catastro.patrimonio_afi and hoja_catastro.patrimonio_clase and hoja_catastro.valor_cuotas and hoja_catastro.cuotas_pagadas%}
                                <a href="/perfil/fondo/catastro/descargar/patrimonio_completo/{{periodo_mes}}-{{periodo_anio}}/" type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Descargar" ><i class="fa fa-download"></i></a>
                            {% elif usuario.is_staff == True  %}
                                <form method="POST" action="/perfil/fondo/catastro/generar/patrimonio_completo/{{periodo_mes}}-{{periodo_anio}}/">
                                    {% csrf_token %}
                                    <button type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Generar patrimonio CLP" ><i class="fa fa-cogs"></i></button>
                                </form> 
                            {% endif %}
                        </td>
                        <td>{{ hoja_catastro.patrimonio_fondo|nro_columnas}} / {{ lista_total }}</td>
                        </tr>

                        <tr><td>2.a- Patrimonio por por Fondo y AFI</td>
                            <td>
                                {% if hoja_catastro.patrimonio_fondo %}
                                    <a href="/perfil/fondo/catastro/descargar/patrimonio_fondo/{{periodo_mes}}-{{periodo_anio}}/" type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Descargar" ><i class="fa fa-download"></i></a>
                                {% elif usuario.is_staff == True  %}
                                    <form method="POST" action="/perfil/fondo/catastro/generar/patrimonio_fondo/{{periodo_mes}}-{{periodo_anio}}/">
                                        {% csrf_token %}
                                        <button type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Generar patrimonio CLP" ><i class="fa fa-cogs"></i></button>
                                    </form> 
                                {% endif %}
                            </td>
                            <td>{{ hoja_catastro.patrimonio_fondo|nro_columnas}} / {{ lista_total }}</td>
                            </tr>

                        <tr><td>2.c- Patrimonio por AFI</td>
                        <td>
                            {% if hoja_catastro.patrimonio_afi %}
                                <a href="/perfil/fondo/catastro/descargar/patrimonio_afi/{{periodo_mes}}-{{periodo_anio}}/" type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Descargar" ><i class="fa fa-download"></i></a>
                            {% elif usuario.is_staff == True  %}
                                <form method="POST" action="/perfil/fondo/catastro/generar/patrimonio_afi/{{periodo_mes}}-{{periodo_anio}}/">
                                    {% csrf_token %}
                                    <button type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Generar patrimonio AFI CLP" ><i class="fa fa-cogs"></i></button>
                                </form>
                            {% endif %}
                        </td>
                        <td>{{ hoja_catastro.patrimonio_afi|nro_columnas}} / {{ lista_admin }}
                        </td>
                        </tr>

                        <tr><td>2.e- Patrimonio por Clase</td>
                        <td>
                            {% with listaf=hoja_catastro.patrimonio_clase|nro_columnas %}
                            {% if hoja_catastro.patrimonio_clase %}
                                <a href="/perfil/fondo/catastro/descargar/patrimonio_clase/{{periodo_mes}}-{{periodo_anio}}/" type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Descargar" ><i class="fa fa-download"></i></a>
                            {% elif usuario.is_staff == True  %}
                                <form method="POST" action="/perfil/fondo/catastro/generar/patrimonio_clase/{{periodo_mes}}-{{periodo_anio}}/">
                                    {% csrf_token %}
                                    <button type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Generar patrimonio Clase CLP" ><i class="fa fa-cogs"></i></button>
                                </form>
                            {% endif %}
                            {% endwith %}
                        </td>
                        <td>{{ hoja_catastro.patrimonio_clase|nro_columnas}} /{{ lista_clases }}</td>
                        </tr>

                        <tr><td>2.g- Patrimonio Valor Cuota</td>
                        <td>
                            {% with listaf=hoja_catastro.valor_cuotas|nro_columnas %}
                            {% if hoja_catastro.valor_cuotas %}
                                <a href="/perfil/fondo/catastro/descargar/valor_cuotas/{{periodo_mes}}-{{periodo_anio}}/" type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Descargar" ><i class="fa fa-download"></i></a>
                            {% elif usuario.is_staff == True  %}
                                <form method="POST" action="/perfil/fondo/catastro/generar/valor_cuotas/{{periodo_mes}}-{{periodo_anio}}/">
                                    {% csrf_token %}
                                    <button type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Generar patrimonio valor cuota" ><i class="fa fa-cogs"></i></button>
                                </form>
                            {% endif %}
                            {% endwith %}
                        </td>
                        <td>{{ hoja_catastro.valor_cuotas|nro_columnas}} / {{ lista_total }}</td>
                        </tr>

                        <tr><td>2.h- Patrimonio Cuotas Pagadas</td>
                        <td>
                            {% with listaf=hoja_catastro.cuotas_pagadas|nro_columnas %}
                            {% if hoja_catastro.cuotas_pagadas %}
                                <a href="/perfil/fondo/catastro/descargar/cuotas_pagadas/{{periodo_mes}}-{{periodo_anio}}/" type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Descargar" ><i class="fa fa-download"></i></a>
                            {% elif usuario.is_staff == True  %}
                                <form method="POST" action="/perfil/fondo/catastro/generar/cuotas_pagadas/{{periodo_mes}}-{{periodo_anio}}/">
                                    {% csrf_token %}
                                    <button type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Generar patrimonio Cuotas pagadas" ><i class="fa fa-cogs"></i></button>
                                </form>
                            {% endif %}
                            {% endwith %}
                        </td>
                        <td>{{ hoja_catastro.cuotas_pagadas|nro_columnas}} / {{ lista_total }}</td>
                        </tr>
                        {% endif %}

                        {% if libro == 'volumen_cuotas' %}
                        <tr><td>3.a- Volumen Cuotas por mes</td>
                        <td>
                            {% if hoja_catastro.volumen_cuotas_mes %}                
                                <a href="/perfil/fondo/catastro/descargar/volumen_cuotas_mes/{{periodo_mes}}-{{periodo_anio}}/" type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Descargar Cuotas por mes" ><i class="fa fa-download"></i></a>
                                <a href="/perfil/fondo/catastro/descargar/volumen_cuotas_trimestre/{{periodo_mes}}-{{periodo_anio}}/" type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Descargar Cuotas por trimestre" ><i class="fa fa-download"></i></a>
                            {% elif usuario.is_staff == True %}
                                <form method="POST" action="/perfil/fondo/catastro/generar/volumen_cuotas_mes/{{periodo_mes}}-{{periodo_anio}}/">
                                    {% csrf_token %}
                                    <button type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Generar Volumen Cuotas por mes" ><i class="fa fa-cogs"></i></button>
                                </form>
                            {% endif %}
                        </td>
                        <td></td>
                        </tr>

                        <tr><td>3.b- Volumen Monto por mes</td>
                        <td>
                            {% if hoja_catastro.volumen_monto %}                  
                                <a href="/perfil/fondo/catastro/descargar/volumen_monto/{{periodo_mes}}-{{periodo_anio}}/" type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Descargar" ><i class="fa fa-download"></i></a>
                            {% elif usuario.is_staff == True %}
                                <form method="POST" action="/perfil/fondo/catastro/generar/volumen_monto/{{periodo_mes}}-{{periodo_anio}}/">
                                    {% csrf_token %}
                                    <button type="" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Generar Volumen Monto por mes" ><i class="fa fa-cogs"></i></button>
                                </form>
                            {% endif %}
                        </td>
                        <td></td>
                        </tr>
                        {% endif %}
                    </table>
                    </div>
                </div>
                {% endif %}
            </div>
            </section>
        </div>
        </section>
    </div>
    <!-- /.content-wrapper -->
    <script type="text/javascript">
    function mostrar_datos(){
        var mes = $("#periodo_mes").val();
        var anio = $("#periodo_anio").val();
        var libro = $("#libro").val();
        window.location.href = '/perfil/fondo/catastro/'+libro+'/'+mes+'-'+anio+'/';
    }
    </script>
    {% include "asidebar.html" %}

    {% include 'footer.html' %}
    </body>
</html>