{% load tag_library %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Acafi | Dashboard</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  {% include 'libheader.html' %}

  {% include "header.html" %}

  {% include "sidebar.html" %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
        <small>Panel de Control</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <section class="content">
      <div class="row">
        <section class="col-lg-12">



        <div class="box box-info">
            <div class="box-header">
                <h3 class="panel-title"><i class="fa fa-list"></i> Lista de Fondos </h3>
            </div>

            <div class="panel-body">
                <div class="text-right">
                  <form action="" method="GET" id="filter_rep">
                    
                    <button type="submit" id="button-filter" class="btn btn-success" data-toggle="tooltip" title="Exportar" ><i class="fa fa-download"></i>
                    </button>
                  </form>
                </div>
                    <div class="table-responsive">

                        <table class="table table-bordered table-hover table-max-with">
                            <thead>
                            <tr>
                                <td class="text-left">RUN CMF</td>
                                <td class="text-left">Nemotécnico</a>
                                <td class="text-left">Administrador</a>
                                <td class="text-left">Nombre</a>
                                <td class="text-left">Categoria</td>
                                <td class="text-left">Fecha Inicio</td>
                                <td class="text-left">Fecha Término</td>
                                
                            </tr>
                            </thead>
                            <tbody>

                            {% if lista_fondos %}
                            {% for lista in lista_fondos %}
                            <tr>
                                <td class="text-left">{{ lista.runsvs }} </td>
                                <td class="text-left">{{ lista.vigente|default:"--"}} </td>
                                <td class="text-left"> {{ lista.admin.razon_social }}</td>
                                <td class="text-left">{{ lista.nombre }} </td>
                                
                                <td class="text-left"> {{ lista.categoria|default:"--" }}</td>
                                <td class="text-left"> {{ lista.inicio_operaciones|default:"--" }}</td>
                                <td class="text-left"> {{ lista.termino_operaciones|default:"--" }}</td>
                                    

                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td class="text-center" colspan="8">  No hay resultados </td>
                            </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
        <div class="row">
          <div>

   
    <div class="col-sm-6 text-left">
            {% if lista.has_other_pages %}
              <ul class="pagination">
                {% if lista.has_previous %}
                  <li><a href="?page=1&{{url}}">&laquo;</a></li>
                  <!--li><a href="?page={{ lista.previous_page_number }}">&laquo;</a></li-->
                {% else %}
                  <li class="disabled"><span>&laquo;</span></li>
                {% endif %}

                {% for i in lista.paginator.num_pages|rango:lista.number %}
                  {% if lista.number == i %}
                    <li class="active"><span>{{ i | cut:"."}} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                  
                    <li><a href="?page={{ i | cut:'.'}}&{{url}}">{{ i | cut:"."}}</a></li>
                  
                  {% endif %}
                {% endfor %}
                {% if lista.has_next %}

                  <!--li><a href="?page={{ lista.next_page_number}}">&raquo;</a></li-->
                  <li><a href="?page={{ lista.paginator.num_pages | cut:'.'}}&{{url}}"> &raquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
              </ul>
            {% endif %}
            </div>
          <div class="col-sm-6 text-right">Total: {{ count }} Fondos</div>
        </div>
                </div>
            </div>
        </div>
        </div>

        </div>

        </div>
      </div>

         </section>

      </div>
    </section>
  </div>

  <!-- /.content-wrapper -->


{% include "asidebar.html" %}

{% include 'footer.html' %}
</body>
</html>