
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Acafi | Dashboard</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  {% include 'libheader.html' %}

  {% include "header.html" %}

  {% include "sidebar.html" %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
        <small>Panel de Control</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <section class="content">
      <div class="row">
        <section class="col-lg-12">

          <div class="box box-info">
            <div class="box-header">
              <i class="fa fa-envelope"></i>
              <h3 class="box-title">Crear / Modificar Usuario:
              {{form.errors}}</h3>
            </div>
            <div class="box-body">
             {% if id != None %} 
              <form action="/perfil/usuario/{{id}}" method="post">
              {% else %}
              <form action="/perfil/usuario/" method="post">
              {% endif %}
                {% csrf_token %}
                <div class="form-group">
                   {{ form.nombre }}<!-- area -->
                </div>
                <div class="form-group">
                   {{ form.apellido }}
                </div>
                <div class="form-group">
                   {{ form.email }}
                </div>
                <div class="form-group">
                   {{ form.password }}
                </div>
                {% if request.user.is_staff or request.user.is_superuser %}
                <div class="form-group">
                   {{ form.fondo }}
                </div>
                {% endif %}
                
              <div class="box-footer clearfix">
                <button type="submit" id="submit_btn" class="pull-right btn btn-primary">Guardar
                  <i class="fa fa-save"></i></button>
              </div>
            
              </form>
            </div>

          </div>

        </section>

      </div>
    </section>
  </div>

  <!-- /.content-wrapper -->


{% include "asidebar.html" %}

{% include 'footer.html' %}
</body>
</html>