{% load tag_library %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Acafi | Dashboard</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  {% include 'libheader.html' %}

  {% include "header.html" %}

  {% include "sidebar.html" %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Usuarios
        <small>Lista de Usuarios</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"><a href="/perfil/">Dashboard</a></li>
      </ol>
    </section>
    <section class="content">
      <div class="row">
        <section class="col-lg-12">


          {% if response == '1' %}
            <div class="alert alert-success"><i class="fa fa-check-circle"></i>   El usuario ha sido asignado correctamente <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
            {% endif %}

        <div class="box box-info">
            <div class="box-header">
                <h3 class="panel-title"><i class="fa fa-list"></i> Lista de Usuarios </h3>
            </div>

            <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-max-with">
                            <thead>
                            <tr>
                                <td class="text-left"> Username </td>
                                <td class="text-left"> Email</a>
                                    
                                <td class="text-left">Activo </td>
                                <td class="text-left">Admin </td>
                                <td class="text-left"> Fecha de ingreso</td>
                                <td class="text-left">
                                <a href="/perfil/usuario/" data-toggle="tooltip" title="Agregar Usuario" class="btn btn-primary"><i class="fa fa-plus"></i></a>
                                </td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <form action="?{{url}}" method="GET" id="filter_rep">
                                  <input type="hidden" value = "{{ page }}", name="page">
                                <td class="text-left"><input type="text" name="filter_name" value="{{ filter_name }}" placeholder="Username" id="input-name" class="input-text" /></td>

                                <td class="text-left"><input type="text" name="filter_email" value="{{ filter_email }}" placeholder="Email" id="input-email" class="input-text"/></td>

                                <td class="text-left">
                                  <select name="filter_activo" value="{{ filter_activo }}" id="input-activo">
                                    <option value="">Seleccione</option>
                                    <option value="1">Activo</option>
                                    <option value="0">Inactivo</option>
                                  </select>
                                  </td>                             
                                
                                <td class="text-left">
                                  <select name="filter_staff" value="{{ filter_staff }}" id="input-staff">
                                    <option value="">Seleccione</option>
                                    <option value="1">Administrador</option>
                                    <option value="0">No administrador</option>
                                  </select>
                                  </td> 

                               <td class="text-left"><input type="date" name="filter_fechaingreso" value="{{ filter_fechaingreso }}" placeholder="dd/mm/aaaa" id="input-fechaingreso" class="input-text"/></td>


                                <td class="text-left">
                                <button type="submit" id="button-filter" class="btn btn-primary" data-toggle="tooltip" title="Buscar" ><i class="fa fa-search"></i></button>
                                </td>
                              </form>
                            </tr>
                            {% if lista %}
                            {% for l in lista %}
                            <tr>
                                <td class="text-left">{{ l.username }} </td>
                                <td class="text-left">{{ l.email }} </td>
                                <td class="text-left"> {{ l.is_active|yesno:"Si,No"}}</td>
                                <td class="text-left"> {{ l.is_superuser|yesno:"Si,No" }}</td>
                                <td class="text-left"> {{ l.date_joined }}</td>
                                    
                                <td class="text-left">
                                    <a href="/perfil/usuario/{{l.id}}" data-toggle="tooltip" title="Editar Usuario" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                              <td class="text-center" colspan="8">  No hay resultados </td>
                            </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
        <div class="row">
          <div>

   
    <div class="col-sm-6 text-left">
            {% if lista.has_other_pages %}
              <ul class="pagination">
                {% if lista.has_previous %}
                  <li><a href="?page=1&{{url}}">&laquo;</a></li>
                  <!--li><a href="?page={{ lista.previous_page_number }}">&laquo;</a></li-->
                {% else %}
                  <li class="disabled"><span>&laquo;</span></li>
                {% endif %}

                {% for i in lista.paginator.num_pages|rango:lista.number %}
                  {% if lista.number == i %}
                    <li class="active"><span>{{ i | cut:"."}} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                  
                    <li><a href="?page={{ i | cut:'.'}}&{{url}}">{{ i | cut:"."}}</a></li>
                  
                  {% endif %}
                {% endfor %}
                {% if lista.has_next %}

                  <!--li><a href="?page={{ lista.next_page_number}}">&raquo;</a></li-->
                  <li><a href="?page={{ lista.paginator.num_pages | cut:'.'}}&{{url}}"> &raquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
              </ul>
            {% endif %}
            </div>
          <div class="col-sm-6 text-right">Total: {{ count }} Usuarios</div>
        </div>
                </div>
            </div>
        </div>
        </div>

        </div>

        </div>
      </div>

         </section>

      </div>
    </section>
  </div>

  <!-- /.content-wrapper -->


{% include "asidebar.html" %}

{% include 'footer.html' %}
</body>
</html>