  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel" style="white-space: inherit;">
        
        <div class="pull-left info" style="position: inherit;">
          <p>{{user.username}}</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Buscar..." value="{{request.session.periodo}}">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">NAVEGACION</li>
        <li class="active treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="active"><a href="/perfil/"><i class="fa fa-circle-o"></i> Fondos</a></li>
            <li class="active"><a href="/perfil/fondos_corfo/"><i class="fa fa-circle-o"></i> Fondos Corfo</a></li>
            <li class="active"><a href="/perfil/fondo/exportar_adm/"><i class="fa fa-circle-o"></i> Exportar fondos en zip</a></li>
          </ul>
        </li>
        {% if request.user.is_staff or request.user.is_superuser %}
        <!--li>
          <a href="/perfil/fondo/">
            <i class="fa fa-signal"></i> <span>Fondos</span>
          </a>
        </li-->
            
        <li>
          <a href="/perfil/fondo/catastro/">
            <i class="fa fa-bookmark"></i> <span>Catastro</span>
          </a>
        </li>
        
        <li>
        <li>
          <a href="/perfil/categorias/">
            <i class="fa fa-folder"></i> <span>Categorias</span>
          </a>
        </li>
        <li>
          <a href="/perfil/series/">
            <i class="fa fa-tasks"></i> <span>Series</span>
          </a>
        </li>
        <li>
          <a href="/perfil/cuotas/">
            <i class="fa fa-calculator"></i> <span>Cuotas</span>
          </a>
        </li>
        <li>
          <a href="/perfil/cuotas/dividendos/">
            <i class="fa fa-calculator"></i> <span>Variación Cuotas</span>
          </a>
        </li>


        <li class="treeview">
          <a href="#">
            <i class="fa fa-user"></i> <span>Administracion</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="active"><a href="/perfil/aportantes/"><i class="fa fa-users"></i> Aportantes</a></li>
            <li class="active"><a href="/perfil/administradores/"><i class="fa fa-user-secret"></i> Administrador de fondo</a></li>
            <li class="active"><a href="/perfil/usuarios/"><i class="fa fa-user"></i> Usuarios</a></li>
            <li class="active"><a href="/perfil/usuario/importar/"><i class="fa fa-upload"></i> Importar Usuarios</a></li>
          </ul>
        </li>

        <li>
          <a href="/perfil/periodos/">
            <i class="fa fa-calendar"></i> <span>Periodos</span>
          </a>
        </li>
        <li>
          <a href="/perfil/rentabilidades/">
            <i class="fa fa-line-chart"></i> <span>Rentabilidades</span>
          </a>
        </li>

        <li>
          <a href="/perfil/profile/">
            <i class="fa fa-address-card"></i> <span>Perfiles</span>
          </a>
        </li>

        <li>
          <a href="/perfil/resumen/">
            <i class="fa fa-table"></i> <span>Resumen</span>
            
          </a>
        </li>

        <li>
          <a href="/perfil/composiciones/">
            <i class="fa fa-pie-chart"></i> <span>Composiciones</span>
          </a>
        </li>

        <li>
          <a href="/perfil/movimientos/">
            <i class="fa fa-balance-scale"></i> <span>Movimientos</span>
          </a>
        </li>

        <li>
          <a href="/perfil/inversiones/">
            <i class="fa fa-briefcase"></i> <span>Inversiones</span>
          </a>
        </li>
        <li>
          <a href="/perfil/archivos/">
            <i class="fa fa-archive"></i> <span>Archivos</span>
          </a>
        </li>
        <li>
          <a href="/perfil/exportaciones/">
            <i class="fa fa-book"></i> <span>Exportaciones</span>
          </a>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-puzzle-piece"></i> <span>Informacion adicional</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="active"><a href="/perfil/paises/"><i class="fa fa-globe"></i>Paises</a></li>
            <li class="active"><a href="/perfil/divisas/"><i class="fa fa-university"></i> Divisas</a></li>
            <li class="active"><a href="#"><i class="fa fa-book"></i> Documentacion</a></li>
          </ul>
        </li>
        {% else %}
          <li>
          <a href="/perfil/usuario/{{request.user.id}}">
            <i class="fa fa-user"></i> <span>Datos Usuario</span>
          </a>
        {% endif %}
        <!--li class="treeview">
          <a href="#">
            <i class="fa fa-pie-chart"></i>
            <span>Charts</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="pages/charts/chartjs.html"><i class="fa fa-circle-o"></i> ChartJS</a></li>
            <li><a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> Morris</a></li>
            <li><a href="pages/charts/flot.html"><i class="fa fa-circle-o"></i> Flot</a></li>
            <li><a href="pages/charts/inline.html"><i class="fa fa-circle-o"></i> Inline charts</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-laptop"></i>
            <span>UI Elements</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="pages/UI/general.html"><i class="fa fa-circle-o"></i> General</a></li>
            <li><a href="pages/UI/icons.html"><i class="fa fa-circle-o"></i> Icons</a></li>
            <li><a href="pages/UI/buttons.html"><i class="fa fa-circle-o"></i> Buttons</a></li>
            <li><a href="pages/UI/sliders.html"><i class="fa fa-circle-o"></i> Sliders</a></li>
            <li><a href="pages/UI/timeline.html"><i class="fa fa-circle-o"></i> Timeline</a></li>
            <li><a href="pages/UI/modals.html"><i class="fa fa-circle-o"></i> Modals</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-edit"></i> <span>Forms</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i> General Elements</a></li>
            <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> Advanced Elements</a></li>
            <li><a href="pages/forms/editors.html"><i class="fa fa-circle-o"></i> Editors</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-table"></i> <span>Tables</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="pages/tables/simple.html"><i class="fa fa-circle-o"></i> Simple tables</a></li>
            <li><a href="pages/tables/data.html"><i class="fa fa-circle-o"></i> Data tables</a></li>
          </ul>
        </li>
        <li>
          <a href="pages/calendar.html">
            <i class="fa fa-calendar"></i> <span>Calendar</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-red">3</small>
              <small class="label pull-right bg-blue">17</small>
            </span>
          </a>
        </li>
        <li>
          <a href="pages/mailbox/mailbox.html">
            <i class="fa fa-envelope"></i> <span>Mailbox</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-yellow">12</small>
              <small class="label pull-right bg-green">16</small>
              <small class="label pull-right bg-red">5</small>
            </span>
          </a>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-folder"></i> <span>Examples</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="pages/examples/invoice.html"><i class="fa fa-circle-o"></i> Invoice</a></li>
            <li><a href="pages/examples/profile.html"><i class="fa fa-circle-o"></i> Profile</a></li>
            <li><a href="pages/examples/login.html"><i class="fa fa-circle-o"></i> Login</a></li>
            <li><a href="pages/examples/register.html"><i class="fa fa-circle-o"></i> Register</a></li>
            <li><a href="pages/examples/lockscreen.html"><i class="fa fa-circle-o"></i> Lockscreen</a></li>
            <li><a href="pages/examples/404.html"><i class="fa fa-circle-o"></i> 404 Error</a></li>
            <li><a href="pages/examples/500.html"><i class="fa fa-circle-o"></i> 500 Error</a></li>
            <li><a href="pages/examples/blank.html"><i class="fa fa-circle-o"></i> Blank Page</a></li>
            <li><a href="pages/examples/pace.html"><i class="fa fa-circle-o"></i> Pace Page</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-share"></i> <span>Multilevel</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
            <li class="treeview">
              <a href="#"><i class="fa fa-circle-o"></i> Level One
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                <li class="treeview">
                  <a href="#"><i class="fa fa-circle-o"></i> Level Two
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                  <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
          </ul>
        </li>
        <li><a href="https://adminlte.io/docs"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
        <li class="header">LABELS</li>
        <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li-->
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>